.drop-box {
    position: relative;
    display: inline-block;
  }
  
  .drop-button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background: #fff;
  }
  
  .drop-button:after,
  .link:before {
    content: '';
    border: 5px solid transparent;
    border-top-color: #000;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 3px;
    transform: rotate(-90deg);
  }
  
  .drop-box.active .drop-button:after,
  .link.active:before {
    transform: rotate(0deg);
  }
  
  .drop-menu {
    display: none;
    position: absolute;
    width: 210px;
    top: 100%;
    left: 0px;
    border: 1px solid #000;
    background: #fff;
  }
  
  .drop-box.active .drop-menu {
    display: block;
  }
  
  .drop-menu .link {
    padding: 10px;
    cursor: pointer;
  }
  
  .drop-menu .box {
    display: none;
    padding: 0 10px 10px 10px;
  }
  
  .drop-menu .link.active+.box {
    display: block;
  }
  
  .drop-menu .box label {
    display: block;
  }