
.teaching-table {
    /* border-collapse: collapse; */
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #844343;
    border: 1px solid black;
}

tr:hover {background-color: #1d6666;}
  